!!!
%html
  %head
    %title Ashley the Coder
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %meta{ property: "og:site_name", content: "Cincinnati Juneteenth Festival" }

    %script{:src => "//cdn.muicss.com/mui-0.10.3/extra/mui-combined.min.js"}
    = stylesheet_link_tag "site"
    = stylesheet_link_tag 'https://fonts.googleapis.com'
    = stylesheet_link_tag 'https://fonts.gstatic.com'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap'
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
    = favicon_tag "favicon.ico"

    = javascript_include_tag "site"

  %body.mui-container
    = partial "header"
    = yield
    = partial "footer"
