%header
  = link_to "index.html", class: "mui--text-display1" do
    Ashley the Coder
  %nav
    = link_to "about.html", class: "mui-btn mui-btn--accent" do
      About
    = link_to "https://twitter.com/ashleythecoder", class: "mui-btn mui-btn--accent", target: "_blank" do
      Twitter
      %i.material-icons open_in_new
    = link_to "https://github.com/anSullivan12", class: "mui-btn mui-btn--accent", target: "_blank" do
      GitHub
      %i.material-icons open_in_new
    = link_to "https://www.linkedin.com/in/ashleythecoder/", class: "mui-btn mui-btn--accent", target: "_blank" do
      LinkedIn
      %i.material-icons open_in_new
